DB_URL="mongodb://localhost:27017/data"
PORT=2345

GCS_PROJECT_ID=""
GCS_BUCKET_NAME=""
GCS_CREDENTIALS=''

RAZORPAY_API_KEY=""
RAZORPAY_KEY_SECRET=""
RAZORPAY_WEBHOOK_SECRET=""

JWT_SECRET=""

FLAXXA_TOKEN=""

DCC_API_KEY=""
DCC_API=""
